/**
 * Usage:
 *
 * `@include loader;`
 * `@include loader( $size: SIZE, $border: BORDER );`
 * `@include loader( $color: COLOR );`
 * ...
 */

@mixin loader( $size: 45px, $color: currentColor, $border: '' ) {
  @if $border == '' {
    $border: $size * .0625;
  }

  pointer-events: none;

  > * {
    opacity: .35;
  }

  &:after {
    content: "";

    position: absolute;
    top: calc(50% - (#{$size} + #{$border} * 2) / 2);
    left: calc(50% - (#{$size} + #{$border} * 2) / 2);

    display: block;
    width: $size;
    height: $size;
    border-radius: 50%;
    border: $border solid $color;
  }

  &:after {
    animation: loader 2s linear infinite,
    rotate 1.5s linear infinite;
  }

  @keyframes rotate {
    100% { transform: rotate(360deg); }
  }

  @keyframes loader {
    0%    { clip-path: polygon(50% 50%,   0%   0%,   0% 0%,   0%   0%,   0%   0%,   0%   0%); }
    12.5% { clip-path: polygon(50% 50%,   0%   0%, 100% 0%, 100%   0%, 100%   0%, 100%   0%); }
    25%   { clip-path: polygon(50% 50%,   0%   0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%); }
    37.5% { clip-path: polygon(50% 50%,   0%   0%, 100% 0%, 100% 100%,   0% 100%,   0% 100%); }
    50%   { clip-path: polygon(50% 50%,   0%   0%, 100% 0%, 100% 100%,   0% 100%,   0%   0%); }
    62.5% { clip-path: polygon(50% 50%, 100%   0%, 100% 0%, 100% 100%,   0% 100%,   0%   0%); }
    75%   { clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 0% 100%,   0%   0%); }
    87.5% { clip-path: polygon(50% 50%,   0% 100%,   0% 100%,   0% 100%, 0% 100%,   0%   0%); }
    100%  { clip-path: polygon(50% 50%,   0%   0%,   0% 0%,   0%   0%,   0%   0%,   0%   0%); }
  }
}