$Icont-font: "Icont";

i[class^="icont-"]:before, i[class*=" icont-"]:before {
    font-family: Icont !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
